Makefile
Makefile.*
release/
debug/
include/
lib/
mkspecs/
Vortex.version
Vortex.version.in
*.autosave
*.o
*.so.*
*.dll
*.lib
*.so
*.dylib
moc_*
*.moc
*.pro.user
*.orig
*.kdev4
.kdev*
/.qmake.cache
/.qmake.stash
*.blend1
config.tests/draco/.obj
config.tests/draco/draco
*.pyc
*.spirv
