tests/auto/assets/KHR_lights_punctual/MODEL_ROUNDED_CUBE_PART_1/*.bin filter=lfs diff=lfs merge=lfs -text
tests/auto/assets/cube_no_normals.bin filter=lfs diff=lfs merge=lfs -text
tests/auto/assets/cube_no_normals.gltf filter=lfs diff=lfs merge=lfs -text
