[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Professional 3D asset creation and integration workflow for Qt
[access "refs/*"]
	owner = group user/Patrick GitHub (sengels)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Patrick GitHub (sengels)
	label-Verified = -1..+1 group user/Patrick GitHub (sengels)
	push = group user/Patrick GitHub (sengels)
	read = group user/Patrick GitHub (sengels)
	rebase = group user/Patrick GitHub (sengels)
	removeReviewer = group user/Patrick GitHub (sengels)
	submit = group user/Patrick GitHub (sengels)
[access "refs/heads/*"]
	create = group user/Patrick GitHub (sengels)
	push = +force group user/Patrick GitHub (sengels)
	pushMerge = group user/Patrick GitHub (sengels)
	read = group user/Patrick GitHub (sengels)
[access "refs/tags/*"]
	push = group user/Patrick GitHub (sengels)
	push = +force group user/Patrick GitHub (sengels)
